<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <title>Authenticator</title>
</head>
<body>
    <form class="signup-form" action="" method="post">

        <div class="">
            <label class="email-label">Email</label>
            <div class="">
                <span class=""><i class=""></i></span>
                <input class="email-input" type="email" placeholder="user@example.com">
            </div>
        </div>

        <div class="">
            <label class="">Password</label>
            <div class="">
                <span class=""><i class=""></i></span>
                <input class="password-input" type="password" placeholder="some complex string">
            </div>
        </div>

        <button class="" type="submit">Submit</button>

    </form>

    <script src="/js/signup.js"></script>
</body>
</html>