<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <title>Authenticator</title>
</head>
<body>
    <form class="form signup-form">

        <div>
            <label class="signup-form__email-label">Email</label>
            <div>
                <input class="signup-form__email-input" type="email" placeholder="user@example.com">
            </div>
        </div>

        <div>
            <label>Password</label>
            <div>
                <input class="signup-form__password-input" type="password" placeholder="some complex string">
            </div>
        </div>

        <button class="signup-form__button">Signup</button>

    </form>

    <form class="form get-user-form">

        <div>
            <label class="get-user-form__email-label">Email</label>
            <div>
                <input class="get-user-form__email-input" type="email" placeholder="user@example.com">
            </div>
        </div>

        <button class="get-user-form__button">Get user</button>

    </form>

    <button class="get-users-button">Get users</button>

    <script src="/js/signup.js"></script>
</body>
</html>